body {
    margin: 0;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

/*Home Page*/
.container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 50%;
    padding: 40px 10px;
    width: 40%;
    margin: 20px auto 0px 20px;
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.2);
    opacity: 80%;
}

h1 span{ 
    font-size: 140%;
}

.otherStyle {  
    color:rgb(172, 23, 23);
    font-size: 160%;
}
.return {
    font-size: 140%;
}

.welcomeh3 {
    font-size: 1.5em;
}

.loginButton {
    font-size: 14px;
    padding: 6px 12px;
    margin: 30px auto;
    border-radius: 10px;
}

.signUpButton {
    font-size: 14px;
    padding: 6px 12px;
    margin: 30px auto;
    border-radius: 10px;
}

.loginButton:hover {
    font-size: 14.5px;
    padding: 6.5px 12.5px;
    background-color:rgb(196, 196, 201);
    border-radius: 10px;
}

.signUpButton:hover {
    font-size: 14.5px;
    padding: 6.5px 12.5px;
    background-color:rgb(196, 196, 201);
    border-radius: 10px;
}


/* Login Page */
.login {
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 40px 10px;
    width: 40%;
    margin: 0px auto 100px auto;
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.2);
    opacity: 90%;
}

#text {
    margin: 0 0 20px 0;
    width: 40%;
}

#email {
    margin: 0 0 20px 0;
    width: 40%;
}

#password {
    margin: 0 0 20px 0;
    width: 40%;
}

.showcase {
    position: relative;
}
  
.showcase video {
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 opacity: 0.8;
}


/* Travel Logger */
h6 {
    margin: 0;
    padding: 0;
}

h6 span{ 
    color: white;
    font-size: 3em;
}

.other6 {  
    color:rgb(172, 23, 23);
    font-size: 4em;
}
.return6 {
    color: white;
    font-size: 3em;
}

#Travel2City {
    margin: 0 2em 0 0;
}

ul {
    list-style-type: none;
    padding: 5;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
  }

#account {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0 2em 0 0;
}

.loggerContainer {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 60px 10px;
    width: 90%;
    height: 100em;
    margin: 0px auto 0px auto;
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.2);
}

.pastTrips {
    font-size: 2em;
}

.nextTrip {
    margin: 100px 0 0 0;
}

.grid-container {
    justify-content: space-between;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

.Trip1 {
    margin: auto;
    background-color: rgb(206, 206, 206);
    width: 20em;
    height: 20em;
    border-radius: 10px;
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.2);
}

.athens {
    border-radius: 10px;
}

.Trip2 {
    margin: auto;
    background-color: rgb(206, 206, 206);
    width: 20em;
    height: 20em;
    border-radius: 10px;
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.2);
}

.paris {
    border-radius: 10px;
}

.Trip3 {
    margin: auto;
    background-color: rgb(206, 206, 206);
    width: 20em;
    height: 20em;
    border-radius: 10px;
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.2);
}

.peru {
    height: 13.5em;
    border-radius: 10px;
}

h5 {
    margin: 0;
    padding: 0;
    font-size: 1.0em;
}

.review {
    padding: 0 0 0 5px;
    text-align: left;
    font-size: 0.7em;
}

.footer {
    background-color:rgb(109, 143, 165);
    padding: 5px;
    color: white;
}

.container-fluid {
    display: block;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    padding: 5px 0 20px 0;
    width: 80%;
    margin: 15px auto 15px auto;
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.2);
}